body {
  margin: 0;
  background-color: white;
  display: block;
  font-family: 'Chonburi', sans-serif;
  text-align: center;
}

#header {
  width: 100%;
  margin: 0 auto;
  position: absolute;
  top: 4vw;
  /* right: 4vw; */
  line-height: 0.7em;
  font-family: sans-serif;
  /* text-align: right; */
}

#motto {
  margin: 30vh auto 10vh;
  text-align: center;
  font-size: 9vw;
  line-height: 9vw;
}
